name: Services Testing

on:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      dispatcher: ${{ steps.filter.outputs.dispatcher }}
      indexer: ${{ steps.filter.outputs.indexer }}
      liquidator: ${{ steps.filter.outputs.liquidator }}
      oracle_updater: ${{ steps.filter.outputs.oracle_updater }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            dispatcher:
              - "services/functions/dispatcher/**"
            indexer:
              - "services/containers/indexer/**"
            liquidator:
              - "services/containers/liquidator/**"
            oracle_updater:
              - "services/functions/oracle-updater/**"

  test-dispatcher:
    needs: [filter]
    if: needs.filter.outputs.dispatcher == 'true'
    uses: ./.github/workflows/__test-node-package.yml
    with:
      service-path: services/functions/dispatcher
      service-name: dispatcher

  test-indexer:
    needs: [filter]
    if: needs.filter.outputs.indexer == 'true'
    uses: ./.github/workflows/__test-node-package.yml
    with:
      service-path: services/containers/indexer
      service-name: indexer

  test-liquidator:
    needs: [filter]
    if: needs.filter.outputs.liquidator == 'true'
    uses: ./.github/workflows/__test-node-package.yml
    with:
      service-path: services/containers/liquidator
      service-name: liquidator

  test-oracle-updater:
    needs: [filter]
    if: needs.filter.outputs.oracle_updater == 'true'
    uses: ./.github/workflows/__test-node-package.yml
    with:
      service-path: services/functions/oracle-updater
      service-name: oracle-updater
