name: Services Testing

on:
  workflow_call:
    inputs:
      dispatcher:
        required: false
        type: string
        default: "false"
      indexer:
        required: false
        type: string
        default: "false"
      liquidator:
        required: false
        type: string
        default: "false"
      oracle_updater:
        required: false
        type: string
        default: "false"

permissions:
  contents: read
  pull-requests: read

jobs:
  test-dispatcher:
    if: inputs.dispatcher == 'true'
    uses: ./.github/workflows/__test-node-package.yml
    with:
      service-path: services/functions/dispatcher
      service-name: dispatcher

  test-indexer:
    if: inputs.indexer == 'true'
    uses: ./.github/workflows/__test-node-package.yml
    with:
      service-path: services/containers/indexer
      service-name: indexer

  test-liquidator:
    if: inputs.liquidator == 'true'
    uses: ./.github/workflows/__test-node-package.yml
    with:
      service-path: services/containers/liquidator
      service-name: liquidator

  test-oracle-updater:
    if: inputs.oracle_updater == 'true'
    uses: ./.github/workflows/__test-node-package.yml
    with:
      service-path: services/functions/oracle-updater
      service-name: oracle-updater
