name: Resources Checking

on:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      admin: ${{ steps.filter.outputs.admin }}
      backend: ${{ steps.filter.outputs.backend }}
      observability: ${{ steps.filter.outputs.observability }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            admin:
              - "resources/admin/**"
            backend:
              - "resources/backend/**"
            observability:
              - "resources/observability/**"

  validate-admin:
    needs: [filter]
    if: needs.filter.outputs.admin == 'true'
    uses: ./.github/workflows/__validate-terraform.yml
    with:
      resource-path: resources/admin
      resource-name: admin

  validate-backend:
    needs: [filter]
    if: needs.filter.outputs.backend == 'true'
    uses: ./.github/workflows/__validate-terraform.yml
    with:
      resource-path: resources/backend
      resource-name: backend

  validate-observability:
    needs: [filter]
    if: needs.filter.outputs.observability == 'true'
    uses: ./.github/workflows/__validate-terraform.yml
    with:
      resource-path: resources/observability
      resource-name: observability
