name: Resources Checking

on:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      shared: ${{ steps.filter.outputs.shared }}
      mainnet: ${{ steps.filter.outputs.mainnet }}
      stokenet: ${{ steps.filter.outputs.stokenet }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            shared:
              - "resources/shared/**"
            mainnet:
              - "resources/mainnet/**"
            stokenet:
              - "resources/stokenet/**"

  validate-shared:
    needs: [filter]
    if: |
      always() || needs.filter.outputs.shared == 'true'
    uses: ./.github/workflows/__validate-terraform.yml
    with:
      resource-path: resources/shared
      resource-name: shared

  validate-mainnet:
    needs: [filter]
    if: |
      always() || needs.filter.outputs.mainnet == 'true'
    uses: ./.github/workflows/__validate-terraform.yml
    with:
      resource-path: resources/mainnet
      resource-name: mainnet

  validate-stokenet:
    needs: [filter]
    if: |
      always() || needs.filter.outputs.stokenet == 'true'
    uses: ./.github/workflows/__validate-terraform.yml
    with:
      resource-path: resources/stokenet
      resource-name: stokenet
