name: Tests

on:
  push:
    branches: [main, stage]
  pull_request:
    branches: [main, stage]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      dispatcher: ${{ steps.filter.outputs.dispatcher }}
      indexer: ${{ steps.filter.outputs.indexer }}
      liquidator: ${{ steps.filter.outputs.liquidator }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            dispatcher:
              - "functions/dispatcher/**"
            indexer:
              - "containers/indexer/**"
            liquidator:
              - "containers/liquidator/**"
  test-dispatcher:
    runs-on: ubuntu-latest
    needs: [filter]
    if: needs.filter.outputs.dispatcher == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.2.13"
      - name: Enable Corepack
        run: corepack enable && corepack prepare pnpm@latest --activate
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
        working-directory: functions/dispatcher
      - name: Test
        run: pnpm test
        working-directory: functions/dispatcher

  test-indexer:
    runs-on: ubuntu-latest
    needs: [filter]
    if: needs.filter.outputs.indexer == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.2.13"
      - name: Enable Corepack
        run: corepack enable && corepack prepare pnpm@latest --activate
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
        working-directory: containers/indexer
      - name: Test
        run: pnpm test
        working-directory: containers/indexer
