name: Tests

on:
  push:
    branches: [main, stage, dev]
  pull_request:
    branches: [main, stage]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  typo-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install cspell
        run: npm install -g cspell
      - name: Typos
        run: cspell -c ./cspell.json . --quiet
